spring:
  profiles:
    active: dev

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

room:
  timeSlot:
    pending:
      expiration:
        minutes: 40
    rollingWindow:
      days: ${ROLLING_WINDOW_DAYS:30}
